.wordbook
  %div{ class: 'wordbook__colums wordbook__colums--thick'} 
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} USER
      %div{ class: 'inter__user'}
  %div{ class: 'wordbook__colums wordbook__colums--thin'}
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} 
        = link_to 'BOOKS',  new_group_path, class: 'BOOKS'
        %i{ class: 'fas fas-book-open' }
    .form
      = form_for @groups do |f|
        = f.text_field :name, class:'input_group', placeholder: 'type a name'
        = f.submit 'register', class:'submit'
    - @group.each do |group|
      %div{ class: 'booklist' }
        %div{ class: 'bookname' }
          = link_to group.name, group_words_path(group)
        %div{ class: 'bookbutton' }
          %div{ class: 'editfunction' }
            = link_to 'edit', edit_group_path(group)
          %div{ class: 'deletefunction' }
            = link_to 'delete', group_path(group), method: :delete
  %div{ class: 'wordbook__word'}