.wordbook
  %div{ class: 'wordbook__colums wordbook__colums--thick'} 
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} USER
      %div{ class: 'inter__user'}
        - if user_signed_in?
          = current_user.name
        - else
      %div{ class: 'inter__user'}
        - if user_signed_in?
          = link_to 'log-out', destroy_user_session_path, method: :delete, class:"log-out-btn"
        - else
          = link_to 'log-in', new_user_session_path, class:"login-btn"
          = link_to 'registration', new_user_registration_path, class:"registration-btn"
  %div{ class: 'wordbook__colums wordbook__colums--thin'}
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} 
        = link_to 'BOOKS',  new_group_path, class: 'BOOKS'
        %i{ class: 'fas fas-book-open' }
    .form
      = form_for @groups do |f|
        = f.text_field :name, class:'input_group', placeholder: 'create books'
        = f.submit 'register', class:'submit'
    - @group.each do |group|
      %div{ class: 'booklist' }
        %div{ class: 'bookname' }
          = link_to group.name, group_words_path(group)
        %div{ class: 'bookbutton' }
          %div{ class: 'editfunction', id: "edit-#{group.id}" } edit
          %div{ id: 'overlay' }
          %div{ id: 'modalWindow' }
            = form_for group, url: group_path(group) do |f|
              = f.text_field :name, value: group.name, class: 'edit-space', id: "edit_group-#{group.id}"
              %div{ class: 'edit-update' }
                = f.submit :update, id: "submit-update-#{group.id}", class: 'update-btn'
                %button{ type: 'button', id: "submit-#{group.id}", class: 'cancel-btn' } cancel
          %div{ class: 'deletefunction' }
            = link_to 'delete', group_path(group), method: :delete
  %div{ class: 'wordbook__word'}