.wordbook
  %div{ class: 'wordbook__colums wordbook__colums--thick'} 
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} USER
      %div{ class: 'inter__user'}
        - if user_signed_in?
          = current_user.name
        - else
      %div{ class: 'inter__user'}
        - if user_signed_in?
          = link_to 'log-out', destroy_user_session_path, method: :delete, class:"log-out-btn"
        - else
          = link_to 'log-in', new_user_session_path, class:"login-btn"
          = link_to 'registration', new_user_registration_path, class:"registration-btn"
  %div{ class: 'wordbook__colums wordbook__colums--thin'}
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} 
        = link_to 'BOOKS',  new_group_path, class: 'BOOKS'
        %i{ class: 'fas fas-book-open' }
    .form
    - @group.each do |group|
      %div{ class: 'booklist' }
        %div{ class: 'bookname' }
          = link_to group.name, '/groups'
        %div{ class: 'bookbutton' }
          %div{ class: 'editfunction' }
            = link_to 'edit', edit_group_path(id:group)
          %div{ class: 'deletefunction' }
            = link_to 'delete', group_path(id:group), method: :delete
  %div{ class: 'wordbook__word'}
    %div{ class: 'search'}
      %input{ type: 'text', id: 'keyword', class: 'search_box', placeholder: 'type a word' }
      %button{ type: 'button', id: 'submit-search', class: 'submitbtn' } search
    %div{ class: 'cardlist'}
      - @word.each do |word|
        %div{ class: 'wordbook__word__card', id: "word-#{word.id}", data: { model_name: word.class.name.underscore, update_url: group_word_sort_path(word_id:word.id)}}
          %div{ class: 'cardcontent'}
            = word.word
          %div{ class: 'cardcontent'}
            = word.meaning
          %div{ class: 'cardcontent__edit', id: "edit-#{word.id}"} edit
          %div{ id: 'overlay' }
          %div{ id: 'modalWindow' }
            = form_for word, url: group_word_path(id:word) do |f|
              = f.text_field :word, value: word.word, class: 'edit-space', id: "edit_word-#{word.id}"
              = f.text_field :meaning, value: word.meaning, class: 'edit-space', id: "edit_meaning-#{word.id}"
              %div{ class: 'edit-update' }
                = f.submit :update, id: "submit-update-#{word.id}", class: 'update-btn'
                %button{ type: 'button', id: "submit-#{word.id}", class: 'cancel-btn' } cancel
          %div{ class: 'cardcontent__delete'}
            = link_to 'delete', group_word_path(id:word), method: :delete 
    %div{ class: 'inputbox'}
      %div{ class: 'input'}
        = form_for @words, url: group_words_path do |f|
          = f.text_field :word, class:'input_box', placeholder: 'type a word'
          = f.text_field :meaning, class:'input_box', placeholder: 'type a meaning'
          = f.submit 'register', class:'submit-rg'