.wordbook
  %div{ class: 'wordbook__colums wordbook__colums--thick'} 
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} USER
      %div{ class: 'inter__user'}
        - if user_signed_in?
          = current_user.name
        - else
      %div{ class: 'inter__user'}
        - if user_signed_in?
          = link_to 'log-out', destroy_user_session_path, method: :delete, class:"log-out-btn"
        - else
          = link_to 'log-in', new_user_session_path, class:"login-btn"
          = link_to 'registration', new_user_registration_path, class:"registration-btn"
  %div{ class: 'wordbook__colums wordbook__colums--thin'}
    %div{ class: 'wordbook__colums__title'}
      %div{ class: 'inter'} 
        = link_to 'BOOKS',  new_group_path, class: 'BOOKS'
        %i{ class: 'fas fas-book-open' }
    .form
    - @group.each do |g|
      %div{ class: 'booklist' }
        %div{ class: 'bookname' }
          = link_to g.name, '/groups'
        %div{ class: 'bookbutton' }
          %div{ class: 'editfunction' }
            = link_to 'edit', edit_group_path(id:@group.ids)
          %div{ class: 'deletefunction' }
            = link_to 'delete', group_path(id:@group.ids), method: :delete
  %div{ class: 'wordbook__word'}
    %div{ class: 'search'}
      %input{ type: 'text', id: 'keyword', class: 'search_box'}
      %button{ type: 'button', id: 'submit-search', class: 'submitbtn' } search
    %div{ class: 'cardlist'}
      - @word.each do |w|
        %div{ class: 'wordbook__word__card'}
          %div{ class: 'cardcontent'}
            = w.word
          %div{ class: 'cardcontent'}
            = w.meaning
    %div{ class: 'inputbox'}
      %div{ class: 'input'}
        %div{ class: 'inputmini'}
          = form_for @words, url: group_words_path do |f|
            = f.text_field :word, class:'input_box', placeholder: 'type a word'
            = f.text_field :meaning, class:'input_box', placeholder: 'type a meaning'
            = f.submit 'register', class:'submit'
      %div{ class: 'bigbutton'}    